.App {
  text-align: center;
  font-size: 20px;
}

.home {
  display: flex;
}
.cards {
  display: flex;
  flex-direction: column;
}

.restaurant {
  display: flex;
  margin: 20px;
  padding: 5px;
  border: 1px solid black;
  box-shadow: 2px 2px 2px 2px grey;
}

.restaurant > * {
  width: 30%;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rating {
  color: hsl(241deg 100% 50%);
}

.currentRestaurant {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 5px;
  min-width: 50%;
}

.currentRestaurant > * {
  box-shadow: 2px 2px 2px 2px grey;
  border: 1px solid black;
  width: 100%;
  margin: 20px;
}

.restaurantPage {
  display: flex;
  justify-content: space-between;
}
